### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
!**/src/main/**/target/
!**/src/test/**/target/
!python/**
.idea

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# --- Ignore everything inside C++ ---
# --- Ignore IDE/build artifacts inside C++ ---
C++/.idea/
C++/*.o
C++/*.obj
C++/*.out
C++/*.exe
C++/a.out
C++/*.dSYM/
C++/**/*.dSYM/
C++/cmake-build-*/